{% extends "bookmarks/base.html" %}
{% load bootstrap3 %}
{% block content %}

<div class="inner cover">
  <h1 class="cover-heading">Present Your URL</h1>
  <p class="lead">We will meld your unwieldy URL into a tiny, strong <em>usable</em> URL</p>
  <form method= "POST" action="{% url 'create_short' %}">
  {% csrf_token %}
  {# <input class="lead textbox" type="text" name="long_url" style='width: 70%;'><br><br> #}
  {{ form.as_p }}
  <input class="btn btn-lg btn-default"
         type="submit"
         value="Submit">
</form>
</div>

{% endblock %}